TURN_PUBLIC_IP=99.111.153.69
TURN_REALM=echo-chamber
TURN_USER=echo
TURN_PASS=change_me
TURN_LISTEN_ADDR=0.0.0.0
TURN_PORT=3478
TURN_MIN_PORT=49152
TURN_MAX_PORT=49200
TURN_LOG_FILE=%APPDATA%\@echo\desktop\logs\echo-turn.log
